<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <h1>Add a new course</h1>
    <form action="/add_course" method="post">
        {% csrf_token %} 
        <label for="name">Name:
            <input type="text" name="name">
        </label>
        <label for="description">Description:
            <input type="text" name="description">
            <input type="submit" value="Add">
        </label>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Courses Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date Added</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }} </td>
                <td>{{ course.description }}</td>
                <td>{{ course.created_at }}</td>
                <td>
                    <a href="/courses/destroy/{{course.id}}">remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>