<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TV Show {{ show.id }}</h1>
    <p><strong>Title:</strong> {{ show.title }}</p>
    <p><strong>Network:</strong> {{ show.network }}</p>
    <p><strong>Release Date:</strong> {{ show.release_date }}</p>
    <p><strong>Description:</strong> {{ show.description }}</p>
    <p>Last Updated: {{ show.updated_at }}</p>
    <a href='/update_the_selected_show/{{show.id}}/edit'>Edit</a> |
    <a href="/delete/{{show.id}}">Delete</a>
    <a href="/shows">Go Back</a>
</body>
</html>