h2{
    border: 2px solid black;
    width: max-content;
    padding: 20px 50px;
    margin: 100px auto;
}
p{
    border: 2px solid black;
    width: max-content;
    padding: 100px 200px;
    margin: 100px auto;
    font-size: 100px;
}