<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Success! Welcome, {{new.first_name}}!</h2>
    <p style="color: green;">Successfully registered (or logged in)!</p>
    <a href="/destroy_session">Log Out</a>
    <a href="/wall_page">Go to Wall</a>
</body>
</html>
</body>
</html>