.row{
    display: flex;
    height: 100px;
    margin: 10px;
    
}
.col{
    height: 50px;
    margin: 20px;
    background-color: rgb(46, 95, 218);
    flex: 1;
    
}
.col-2{
    height: 50px;
    margin: 20px;
    background-color:rgb(46, 95, 218);
    flex: 2;
    }
.col-3 {
    height: 50px;
    margin: 20px;
    background-color:rgb(46, 95, 218);
    flex: 3;
}












